@import 'nib'

vendor-prefixes = webkit official
support-for-ie = false

@import '../UI/Core/Body'
@import '../UI/Core/Button'
@import '../UI/Core/Font'
@import '../UI/Core/Headline'
@import '../UI/Core/Notice'

@import '../UI/App/Splash'
@import '../UI/App/Retry'
@import '../UI/App/Spinner'
