html
  -webkit-text-size-adjust 100%

body
  margin 0
  font-family sans-serif
  line-height 1

button, input, select, textarea
  font-family sans-serif
  vertical-align baseline

textarea
    overflow auto
    vertical-align top

table
  border-collapse collapse
  border-spacing 0
  vertical-align middle

table th, table td
  text-align left
  font-weight normal
  vertical-align middle

a
  outline 0
a img
  border none
