@import 'nib'

@import 'UI/Core/Font'

body
  font-family $font
  font-weight normal
  font-size $font-size
  color $color
  text-rendering optimizeLegibility
  -webkit-tap-highlight-color transparent
  -webkit-touch-callout none
  -webkit-user-drag none
  -webkit-user-select none
  overflow hidden
