@import 'nib'

// Buttons
.button, input[type=submit]
  display inline-block
  width auto

  color $color-link
  font-size 16px
  text-align center
  text-decoration none
  padding 0em 0.5em
  -webkit-appearance none

  &.expand
    display block
    position relative
    left 0
    right 0
    padding 0
    line-height 35px
    height 35px

    .ios &
      margin 15px 0
    .android &
      margin 10px

  &.small
    height 28px
    line-height 28px

  border none
  background transparent

  &.active, &.selected, .active &, .selected &
    opacity 0.5

  &.red
    color #fff
    border-width 0
    background-color $color-link

  .popover &
    box-shadow none
    margin 10px 0

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0
