@import 'nib'
@import 'Header'
@import 'Footer'

div.container
  position absolute
  left 0
  right 0
  background-color #efeff4

  .ios &
    top $header-height - 1px
    bottom $footer-height

  .android &
    top $header-height + $footer-height - 3px // Account for missing header top border
    bottom 0

    &.big
      top $header-height + $status-bar-height - 2px // Account for missing header top border

  div.scroll-content
    padding 0

  transition-property -webkit-transform
  transition-timing-function ease-out
  transition-duration 350ms
  .ios &
    transform translate3d(0, 0, 0)
    box-shadow -5px 0 10px rgba(0, 0, 0, 0.1)

  .android &
    transform translate(0, 0)

  &.right
    .ios &
      transform translate3d(100%, 0, 0)
    .android &
      transform translate(100%, 0)

  &.left
    .ios &
      transform translate3d(-40%, 0, 0)
    .android &
      transform translate(-40%, 0)

// On iOS 7 the status bar is included in the app, this offsets the content by the status bar height
@media screen and (min-height: 568px) {
  .ios header {
    height $header-height + $status-bar-height
  }

  .ios header > div {
      top $status-bar-height
  }

  .ios div.container {
    top $header-height + $status-bar-height - 1px
  }
}
