// Base Font
$font = "Helvetica Neue", Tahoma, sans-serif
$font-footer = "Avenir Next", "Helvetica Neue", Tahoma, sans-serif
$font-size = 14px

// Colors
$color = #111
$color-light = #666
$color-placeholder = #a9a9a9
$color-link = #CD5C5C
$color-headline = #777
