// Base Font
$font-ios = "Helvetica Neue", Tahoma, sans-serif
$font-android = Roboto, "Helvetica Neue", Tahoma, sans-serif
$font-size = 14px

// Colors
$color = #000
$color-light = #8e8e93
$color-placeholder = #a9a9a9
$color-link = #ff3b30
$color-headline = #555
