@import 'nib'
@import 'Font'
@import 'Header'

$footer-height-ios = 44px
$footer-height-android = 38px

div.footerBackground, footer
  position absolute
  left 0
  right 0

  .ios &
    bottom 0
    height $footer-height-ios

  .android &
    position fixed
    top $header-height - 1px // Account for missing header border-top style
    height $footer-height-android

  transition-property -webkit-transform, opacity, height
  transition-timing-function ease-in-out
  transition-duration 400ms

  transform translate3d(0, 0, 0)
  opacity 1

  &.out
    transform translate3d(0, 100%, 0)
    opacity 0
    height 0

  &.left
    transform translate3d(-100%, 0, 0)

div.footerBackground
  z-index 9
  background-color #111

  .android &
    display none

footer
  z-index 10
  overflow hidden

  .ios &
    border-bottom-right-radius 4px
    border-bottom-left-radius 4px
    background-color #444
    background-image linear-gradient(top, #555 0%, #111 100%)
    box-shadow 0 -1px 5px rgba(0, 0, 0, 0.5)

  .android &
    background-color #333

  ul
    margin 0
    padding 0

    li
      display block
      float left
      width 25%

      list-style-type none

      > a
        position relative
        display block

        text-decoration none

        .ios &
          height $footer-height-ios

          &.selected
            border-top 2px solid #cd5c5c
            background-color #222
            background-image linear-gradient(top, #222 0%, #000 100%)

          > span:first-child
            display block
            height $footer-height-ios
            background-position center 4px
            background-repeat no-repeat
            .ios &
              opacity 0.95

          &.selected > span:first-child
            opacity 1
            background-position center 2px

          > span:last-child
            position absolute
            left 0
            right 0
            bottom 3px

            color #6f6f6f
            font-family $font-footer-ios
            text-align center
            font-weight bold
            font-size 10px
            text-shadow 0 -1px 0 rgba(0, 0, 0, 1)

          &.selected > span:last-child
            bottom 5px

        .android &
          padding 0
          height $footer-height-android - 2px
          border-bottom 2px solid #df5d5d

          &.selected
            height $footer-height-android - 5px
            border-bottom 5px solid #df5d5d
            background-color #222

          > span:first-child
            display none

          > span:last-child
            display block
            text-align center
            color #eee
            font-size 11px
            font-weight 500

            line-height $footer-height-android
