@import 'nib'
@import 'Font'

$footer-height = 44px

div.footerBackground, footer
  position absolute
  bottom 0
  left 0
  right 0
  height $footer-height

  transition-property -webkit-transform, opacity, height
  transition-timing-function ease-in-out
  transition-duration 350ms

  transform translate3d(0, 0, 0)
  opacity 1

  &.out
    transform translate3d(0, 100%, 0)
    opacity 0
    height 0

div.footerBackground
  z-index 9
  background-color #111

footer
  z-index 10
  overflow hidden

  border-bottom-right-radius 4px
  border-bottom-left-radius 4px
  background-color #444
  background-image linear-gradient(top, #555 0%, #111 100%)
  box-shadow 0 -1px 5px rgba(0, 0, 0, 0.5)

  ul
    margin 0
    padding 0

    li
      display block
      float left
      width 25%
      list-style-type none

      > a
        position relative
        display block
        height $footer-height

        text-decoration none

        &.selected
          background-image linear-gradient(top, #222 0%, #000 100%)
          border-top 2px solid #cd5c5c

        > span:first-child
          display block
          height $footer-height
          background-position center 4px
          background-repeat no-repeat
          opacity 0.95

        &.selected > span:first-child
          opacity 1
          background-position center 2px

        > span:last-child
          position absolute
          left 0
          right 0
          bottom 3px

          color #6f6f6f
          text-align center
          font-family $font-footer
          font-weight bold
          font-size 10px
          text-shadow 0 -1pxx 0 rgba(0, 0, 0, 1)

        &.selected > span:last-child
          bottom 5px
