@import 'nib'
@import 'UI/Core/Font'

input, textarea, select
  display block
  width 100%
  margin 0
  padding 11px 10px

  font-size 1em
  color $color
  outline none

  border 0
  border-radius 10px // Needed so first/last elements don't overlay the container
  -webkit-appearance none

textarea
  resize none
  padding-left 4%
  padding-right 4%
  width 92%

textarea.autogrow
    overflow-y hidden

// Buttons
.button, input[type=submit]
  display inline-block
  width auto

  color #fff
  font-size 13px
  font-weight bold
  text-align center
  text-decoration none
  padding 0em 0.5em
  cursor pointer
  text-shadow 0 1px 0 #333
  -webkit-appearance none

  &.expand
    display block
    position relative
    left 0
    right 0
    padding 0
    line-height 35px
    height 35px
    margin 15px 0

  &.small
    height 28px
    line-height 28px

  border none
  border-radius 10px
  background-color #444
  background-image linear-gradient(top, #555 0%, #111 100%)
  box-shadow inset 0 1px 0 #666, inset 0 -1px 0 #111

  &.active, &.selected, .active &, .selected &
    background-color #333
    background-image linear-gradient(center top, #444 0%, #111 100%)
    box-shadow none

  &.red
    border-width 0
    background-color #df5d5d
    background-image linear-gradient(top, #df5d5d 0%, #912f2f 100%)
    box-shadow inset 0 1px 0 #e40e0e, inset 0 -1px 0 #5e0000

    &.active, &.selected, .active &, .selected &
      background-color #C25252
      background-image linear-gradient(top, #C25252 0%, #702424 100%)
      box-shadow none

  &.green
    border-width 0
    background-color #73de5d
    background-image linear-gradient(top, #73de5d 0%, #2f912f 100%)
    box-shadow inset 0 1px 0 #0ee30e, inset 0 -1px 0 #005e00

    &.active, &.selected, .active &, .selected &
      background-color #64c251
      background-image linear-gradient(top, #64c251 0%, #317024 100%)
      box-shadow none

  .popover &
    border-radius 10px
    box-shadow none
    margin 10px 0

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

// Checkbox, losely based on http://vxjs.org/switch.html
.checkbox
  margin-top -6px
  border 1px solid #979797
  border-radius 20px

  > div
    position relative
    height 28px
    width 77px

    border-radius 20px
    -webkit-mask-image url(../Images/CheckBoxMask.png)
    -webkit-mask-size 77px 28px
    box-shadow inset 0 1px 3px #bababa, inset 0 12px 3px 2px rgba(232, 232, 232, 0.5)
    cursor pointer
    overflow hidden

    input[type=checkbox]
      display none

    & > .left
      z-index 2
      position absolute
      top 0
      bottom 0
      left 0
      right 0

      transition -webkit-transform 200ms ease-in-out
      transform translate3d(-100%, 0, 0)

      border-top-right-radius 0
      border-bottom-right-radius 0

      box-shadow inset 0 1px 2px #333, inset 0 12px 3px 2px rgba(104, 104, 104, 0.50)
      background-color #333

    & > .thumb
      z-index 3
      position relative
      width 26px
      height 26px
      top 0
      display block
      font-size 0.9em

      transition -webkit-transform 200ms ease-in-out
      transform translate3d(0, 0, 0)

      border solid 1px #919191
      border-radius 50%

      box-shadow inset 0 2px 1px white, inset 0 -2px 1px white
      background-color #cecece
      background-image linear-gradient(top, #cecece, #fbfbfb)

      &:before
        content attr(data-on)
        position absolute
        top 5px
        left -70px
        right 0
        color #fff
        font-weight bold
        text-align center
        text-shadow rgba(0, 0, 0, 0.5) 0 -1px 0

      &::after
        content attr(data-off)
        position absolute
        top 5px
        left 33px
        right 0
        color #888
        text-align center
        font-weight bold

    &:hover > .thumb
      box-shadow inset 0 2px 1px #fff, inset 0 -2px 1px #fff
      background-image none

// Select
select.empty
  opacity 0

div.container ul li span.right.placeholder
  pointer-events none
  text-align left

div.container ul li select.right
  padding-top 0
  padding-bottom 0
