@import 'nib'

@import 'Font'

h1
  margin 0 10px 10px

  font-size 1.1em
  text-transform uppercase
  color $color-headline
  font-weight bold
  overflow ellipsis

  .ios &
    text-shadow rgba(255, 255, 255, 1) 0 2px 1px
