@import 'nib'

$header-height = 42px
$status-bar-height = 20px

header
  box-sizing border-box
  z-index 11
  position absolute
  top 0
  left 0
  right 0
  height $header-height

  background-color #f7f7f7

  .ios &, &.with-border
    border-bottom #d7d7d7 1px solid

  .ios &
    box-shadow 0 1px 2px rgba(155, 155, 155, 0.1)

  > div
    position absolute
    top 0
    left 0
    right 0
    bottom 0

  h1
    z-index 12
    top 0
    left 110px
    right 110px

    &.wide-left
      left 120px
      right 100px

    &.wide-right
      right 40px

    &.wide-left.wide-right
      left 120px
      right 40px

    position absolute
    margin 0
    padding 0
    height $header-height - 2px
    line-height $header-height - 2px

    .android &
      line-height $header-height

    font-size 16px
    font-weight bold
    overflow ellipsis
    text-transform none
    text-align center
    color #000

    transition-property opacity, color, -webkit-transform
    transition-timing-function cubic-bezier(0.08, 0.4, 0.28, 1), ease-in-out, ease-in-out
    transition-duration 350ms
    opacity 1
    transform translate3d(0, 0, 0)

    &.right
      opacity 0

      .ios &
        transform translate3d(100px, 0, 0)

    &.left
      opacity 0

      .ios &
        color $color-link
        transform translate3d(-100px, 0, 0)

    &.fade
      opacity 0

  div.back-button
    z-index 13
    position absolute
    left 0
    top 0
    bottom 0
    width 21px

    pointer-events none

    transition-property opacity
    transition-timing-function ease-in-out
    transition-delay 150ms
    transition-duration 200ms
    opacity 1

    background-repeat no-repeat
    background-position center

    &.fade
      transition-delay 0ms
      transition-duration 350ms
      opacity 0

  a.button-left, a.button-right
    z-index 12
    position absolute
    top 0
    bottom 0
    .ios &
      width 90px

    text-decoration none

    transition-property opacity, -webkit-transform
    transition-timing-function ease-in-out
    transition-duration 350ms

    opacity 0

    .ios &.hit
      bottom -50px

    &.button-left
      left 0
      opacity 1
      transform translate3d(0, 0, 0)

      &.right
        opacity 0
        transform translate3d(150px, 0, 0)

      &.left
        opacity 0
        transform translate3d(-150px, 0, 0)

      &.fade
        opacity 0

      .button
        box-sizing inherit
        top 6px
        width 90px
        padding-left 25px

    &.button-right
      right 0
      width 48px

      transition-timing-function ease-in

      &.show
        opacity 1

      .button
        top 9px
        width 24px
        right 5px
        padding 0

        span:first-child
          display block
          width 24px
          height 24px

        span:last-child
          display none

        &.tab-bar
          top 10px
          width 90px
          height 22px
          line-height 22px

          border 1px solid #ff3b30
          border-radius 4px

          opacity 1

          &.active, &.selected, .active &, .selected &
            opacity 1

          > span
            display block
            float left
            width 50%
            height auto

            color #ff3b30
            font-size 12px
            text-transform uppercase
            text-align center

            background none

            &:last-child
              float right

            &.selected
              color #fff
              background #ff3b30

    .button
      position absolute
      bottom 6px
      line-height $header-height - 14px
      height $header-height - 15px

      .android &
        line-height $header-height - 12px

      display block
      padding 0 5px
      min-width auto
      text-align left

      overflow ellipsis
      background transparent
