@import 'nib'

@import 'UI/Core/Font'

h1
  margin 0 10px 10px

  font-family $font
  font-size 1.2em
  text-transform uppercase
  color $color-headline
  font-weight bold
  text-shadow rgba(255, 255, 255, 1) 0 2px 1px
