@import 'nib'

h1
  font-family "Helvetica Neue", Tahoma, sans-serif
  font-weight 400
  font-size 1.8em
  margin 5px 10px 10px
  color $color-headline
  text-rendering optimizeLegibility

  &:first-child
    margin-top 0
