@import 'nib'
@import 'Font'

a
  cursor: pointer
  display inline-block
  outline 0
  color $color-link
  text-decoration underline
  background transparent
  border 0

  &:hover
    text-decoration none
