$status-bar-height = 20px

.notice
  z-index 50
  position fixed
  left 0
  right 0
  top 0

  padding 10px
  color #000
  font-size 1.1em
  line-height 1.5em

  background #f2f2f2
  border-bottom 1px solid #d2d2d2

  transition-property opacity, -webkit-transform, background
  transition-timing-function ease-in-out
  transition-duration 400ms
  transform translate3d(0, -100%, 0)
  opacity 0

  &.native
    display none
    opacity 1
    transform translate3d(0, 0, 0)

  &.highlight
    background #c2c2c2

  h1
    margin-left 0
    margin-right -26px // This is nasty but if there is a headline we can assume the close button is below the headline
    color #000
    text-align center
    text-shadow none

  a
    color #000

  .text
    padding-right 26px

  .close
    position absolute
    top 0
    right 10px
    bottom 0
    width 16px

    opacity 0.7
    background-position center
    background-repeat no-repeat

// On iOS 7 the status bar is included in the app, this offsets the content by the status bar height
@media screen and (min-height: 568px), screen and (min-height: 480px), screen and (min-height: 308px) and (max-height: 308px), screen and (min-height: 220px) and (max-height: 220px) {
  .ios .notice {
    top $status-bar-height
  }
}
