@import 'Font'

.popover
  z-index 50
  position absolute
  left 10%
  right 10%

  padding 10px
  border-radius 10px

  color $color
  background #fff
  box-shadow 0 0 20px rgba(0, 0, 0, 0.1)

  transition-property opacity, -webkit-transform
  transition-duration 250ms
  transition-timing-function cubic-bezier(.11,.99,.28,1.21)
  transform scale(1)
  opacity 1

  h1:not(.header)
    margin 7px 0 7px 0
    margin-left 0
    margin-right 0
    text-align center
    text-shadow none
    overflow visible
    white-space normal
    line-height 1.4em

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  &.auto-width
    left auto
    right auto
    min-width 20px
    white-space nowrap
    text-overflow ellipsis

  &.fade
    opacity 0
    // Specificity fix
    .ios &
      transform scale(0)

  &:before, &:after
    left 50%
    bottom 100%
    border solid transparent
    content ""
    height 0
    width 0
    position absolute
    pointer-events none

  &:before
    margin-left -13px
    border-bottom-color rgba(255, 255, 255, 0.1)
    border-width 13px

  &:after
    margin-left -12px
    border-bottom-color #fff
    border-width 12px

  &.top:before, &.top:after
    bottom auto
    top 100%

  &.top:before
    border-bottom-color rgba(255, 255, 255, 0.1)
    border-bottom-color transparent

  &.top:after
    border-bottom-color transparent
    border-top-color #fff

  &.right
    left 30%
    right 1px

  &.right:before, &.right:after
    left 90.5%

  .ios &.settings
    margin-top 30px

  &.settings:before, &.settings:after
    left 84%

  // Necessary because of CSS specificity
  div.main &:not(.is-full-view) ul
    margin 0
    border none

    font-size 0.9em

    .android &
      border none
    border-radius 0
    background none
    box-shadow none

    li
      padding 3px
      overflow ellipsis
      border none
