@import 'nib'

.vflex
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1

.scrolling
  -webkit-overflow-scrolling touch
  overflow auto

.panel
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.panel-content
  margin-bottom -1px
