@import 'nib'

.scrollable
  display block

  overflow auto
  .ios &
    -webkit-overflow-scrolling touch

.scroll-content
  display block
  min-height 101%

  .ios &
    transform translate3d(0, 0, 0) // iOS cuts of elements if this is missing
