@import 'nib'

.vflex
  box-flex 1
  display -webkit-box
  box-orient vertical

.scrolling
  overflow auto
  -webkit-overflow-scrolling touch

.scrollable
  box-flex 1
  display block

  overflow auto
  -webkit-overflow-scrolling touch

.scroll-content
  box-flex 1
  display block
