@import 'nib'

a.arrow
  > span
    background-image url(../Images/Sprites/Arrow.png)

  &.active > span
    background-image url(../Images/Sprites/ArrowWhite.png)

div.footer
  > a
    &.production > span
      background-image url(../Images/Sprites/Production.png)

    &.preset > span
      background-image url(../Images/Sprites/Preset.png)

    &.microphone > span
      background-image url(../Images/Sprites/Microphone.png)

    &.settings > span
      background-image url(../Images/Sprites/Settings.png)
