@import 'nib'

a.arrow
  > span
    background-size 16px
    background-image url(../Images/Sprites/Arrow@2x.png)

  &.active > span
    background-image url(../Images/Sprites/ArrowWhite@2x.png)

footer
  > a
    > span
      background-size 32px

    &.production > span
      background-image url(../Images/Sprites/Production@2x.png)

    &.preset > span
      background-image url(../Images/Sprites/Preset@2x.png)

    &.microphone > span
      background-image url(../Images/Sprites/Microphone@2x.png)

    &.settings > span
      background-image url(../Images/Sprites/Settings@2x.png)
