@import 'nib'

div.content, div.formcontent, div.container ul
  padding 10px
  margin 0 0 15px

  overflow hidden

  background #fff
  border-radius 5px
  box-shadow 0px 3px 8px #bcbcbc

div.formcontent
  padding 0
