@import 'nib'

div.content, div.formcontent, div.main ul
  padding 10px
  margin 0 0 15px

  overflow hidden

  background #fff

  .ios &
    border-radius 10px

  .android &
    margin-bottom 10px

    &:last-child
      margin-bottom 0

  &.expand
    border-radius 0
    margin -11px -10px 15px // -11 to hide the top border when not scrolling

    .android &
      margin -1px 0 15px // -1 to hide the top border when not scrolling

    border-top 1px solid #eee
    .ios &, .ios &.with-shadow
      box-shadow none

  .ios &, .ios &.with-shadow
    box-shadow 0 1px 2px rgba(0, 0, 0, 0.2)

  &.load-more
    margin-bottom 20px

  &.full
    padding 0

  video + &, video + h1
    margin-top 15px

div.formcontent, ul.formcontent
  padding 0

div.fade, ul.fade
  overflow hidden

  transition-property -webkit-transform, opacity, height
  transition-timing-function ease-in-out
  transition-duration 350ms

  .ios &
    transform translate3d(0, 0, 0)
  .android &
    transform translate(0, 0)
  opacity 1

  &.out
    .ios &
      transform translate3d(0, -20px, 0)
    .android &
      transform translate(0, -20px)
    opacity 0

  .android & ul:last-child
    margin-bottom 10px

video
  width 100%
  margin 0

  box-shadow 0 1px 2px rgba(0, 0, 0, 0.2)

  .android &
    margin-bottom 15px
