@import 'nib'

div.content, div.formcontent, div.main ul
  padding 10px
  margin 0 0 10px
  overflow hidden

  background #fff

  &:last-child
    margin-bottom 0

  &.expand
    border-radius 0
    margin -1px 0 15px // -1 to hide the top border when not scrolling

    border-top 1px solid #eee

  &.load-more
    margin-bottom 30px

  &.full
    padding 0

  video + &, video + h1
    margin-top 15px

div.formcontent, ul.formcontent
  padding 0

div.fade, ul.fade
  overflow hidden

  transition-property -webkit-transform, opacity, height
  transition-timing-function ease-in-out
  transition-duration 350ms

  .ios &
    transform translate3d(0, 0, 0)
  .android &
    transform translate(0, 0)
  opacity 1

  &.out
    .ios &
      transform translate3d(0, -20px, 0)
    .android &
      transform translate(0, -20px)
    opacity 0

  ul:last-child
    margin-bottom 10px

video
  width 100%
  margin 0
  margin-bottom 15px

  box-shadow 0 1px 2px rgba(0, 0, 0, 0.2)
