@import 'nib'

@import '../Core/Font'

img.thumbnail
  float left
  width 100px
  height 100px
  margin 0 10px 10px

  border 1px solid #D9D9D9

div.processing, div.uploading
  padding 10px 37%
  height 15px
  font-size 13px
  font-weight bold

div.uploading
  position relative
  padding 10px 32%

a.stopProduction
  opacity 0.7

div.detail
  position relative
  margin 0 0 15px 0

  padding 10px 10px 5px 10px
  background #f7f7f7
  border-bottom #d7d7d7 1px solid

  h1
    text-shadow none
    margin-left 0
    margin-bottom 5px

  span.album
    display block
    font-weight bold
    margin-bottom 5px
    overflow ellipsis

    font-size 13px
    text-transform uppercase

  span.artist
    display block
    overflow ellipsis
    line-height 1.3em

  span.track, span.year, span.genre
    float right

    font-size 12px
    line-height 1.5em

  span.year
    margin-left 5px

  span.track
    clear right
    padding 3px 0 0 3px

  span.wrap
    white-space normal

  &.with-image
    height 270px
    padding 0

    div.cover-photo
      position absolute
      top 0
      left 0
      right 0
      height 270px
      background-size 125%
      background-position center
      background-repeat no-repeat

    div.gradient
      position absolute
      left 0
      right 0
      bottom 0
      height 270px
      background-image linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.6) 100%)

    div.detail-inner
      position absolute
      left 10px
      right 10px
      bottom 5px

      h1, span
        color #fff
        text-shadow 0 1px 0 #000

  .android &.with-thumbnail, &.with-image
    height 270px

    div.cover-photo
      position absolute
      top 0
      left 0
      right 0
      height 270px
      background-size 105%
      background-position center -30px
      background-repeat no-repeat

      &.team
        background-size 115%
        background-position center center

    div.gradient
      height 270px
      top auto
      bottom 0

span.play-chapter
  z-index 2
  position absolute
  height 42px
  width 30px

  display block
  opacity 0.5

  background-repeat no-repeat
  background-position center center

  .ios &
    transform translate3d(0, 0, 0)

div.main ul li span.play-chapter + label, div.main ul li span.play-chapter + a
  padding-left 25px

div.light-background, div.dark-background
  position absolute
  left 0
  right 0
  top -450px
  height 450px
  background #fff

div.dark-background
  background #111
