@import 'nib'

@import 'UI/Core/Font'

img.thumbnail
  float left
  width 100px
  height 100px
  margin 0 10px 10px 0

  border-radius 5px
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.4)

div.detail.expand
  margin -10px -10px 15px -10px
  border none
  background-image linear-gradient(top, #fff 0%, #fff 90%, #e5e5e5 100%)
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.2)

  h1
    margin-left 0
    margin-bottom 5px

  span.album
    display block
    font-weight bold
    margin-bottom 5px
    overflow ellipsis

    font-size 13px
    text-transform uppercase

  span.artist
    display block
    overflow ellipsis
    line-height 1.3em

  span.track, span.year, span.genre
    float right
    clear right

    color $color-light
    font-size 12px
    line-height 1.3em

  span.track
    padding 3px 0 0 3px
