@import 'nib'

@import '../Core/Font'

img.thumbnail
  float left
  width 100px
  height 100px
  margin 0 10px 10px 0

  border-radius 5px
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.4)

div.processing, div.uploading
  padding 10px 37%
  height 15px
  font-size 13px
  font-weight bold

div.uploading
  padding 10px 33%

div.detail
  position relative
  margin -10px -10px 15px -10px
  padding 10px 10px 5px 10px
  background #fff
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.4)

  h1
    text-shadow none
    margin-left 0
    margin-bottom 5px

  span.album
    display block
    font-weight bold
    margin-bottom 5px
    overflow ellipsis

    font-size 13px
    text-transform uppercase

  span.artist
    display block
    overflow ellipsis
    line-height 1.3em

  span.track, span.year, span.genre
    float right

    font-size 12px
    line-height 1.5em

  span.year
    margin-left 5px

  span.track
    clear right
    padding 3px 0 0 3px

  div.white-background
    position absolute
    left 0
    right 0
    top -250px
    height 250px
    background #fff

  &.with-thumbnail
    height 130px
    padding 0

    div.cover-photo
      position absolute
      left 0
      right 0
      top -210px
      height 340px
      background-size 400px
      background-position center -50%
      background-repeat no-repeat

    div.gradient
      position absolute
      left 0
      right 0
      top -70px
      height 200px
      background-image linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.6) 100%)

    div.detail-inner
      position absolute
      left 10px
      right 10px
      bottom 5px

      h1, span
        color #fff
        text-shadow 0 1px 0 #000
