@import 'nib'
@import 'UI/Core/Font'

div.container ul
  padding 0
  font-size 1.3em

  li
    margin 0
    display block

    list-style-type none

    border-bottom 1px solid #eee

    &:last-child
      border-bottom 0

      a
        border-bottom-right-radius 5px
        border-bottom-left-radius 5px

    &:first-child
      a
        border-top-right-radius 5px
        border-top-left-radius 5px

    a, label, .right
      ellipsis()
      text-decoration none
      display block
      padding 11px 10px
      color $color
      font-weight bold
      cursor pointer

    a
      &.active, &.selected
        background-image linear-gradient(top, #df5d5d 0%, #9c2e2e 100%)
        color #fff

      &.arrow
        padding-right 22px

        > span
          display inline-block
          float right
          width 16px
          height 16px
          margin-right -14px

          background-repeat no-repeat

div.container ul.split
  li
    position relative

    label
      width 30%

    .right
      position absolute
      left 32%
      right 0
      bottom 0
      top 0
      width auto
      font-weight normal

    span.right
      text-align right
