@import 'nib'

@import '../Core/Font'

div.main ul
  padding 0
  font-size 1.2em

  .android &
    font-size 16px

    border-top 1px solid #eee
    border-bottom 1px solid #eee

  .ios &:not(.expand) > :last-child
    border-bottom 0

    > a
      border-bottom-right-radius 10px
      border-bottom-left-radius 10px

  .ios &:not(.expand) > :first-child
    > a
      border-top-right-radius 10px
      border-top-left-radius 10px

  li
    position relative
    margin 0
    display block

    list-style-type none

    border-bottom 1px solid #eee

    a, label, .right
      ellipsis()
      text-decoration none
      display block
      padding 12px 10px
      font-weight 500
      cursor pointer

      .info-left
        display block
        float left
        margin-top 3px
        line-height 15px
        ellipsis()

    a
      color $color

      // Sometimes the .active state gets stuck on iOS. This fixes it. Bananas?
      transform translate3d(0, 0, 0)

      &.active, &.selected
        color #fff
        background-color #df5d5d

        .ios &
          background-image linear-gradient(top, #df5d5d 0%, #9c2e2e 100%)
          text-shadow 0 1px 0 rgba(0, 0, 0, 1)

    a, label
      &.arrow, &.plus, &.share, &.info
        padding-right 24px

        > span:first-child
          display inline-block
          float right
          width 16px
          height 16px
          margin-right -13px

          background-repeat no-repeat

        &.expanded > span:first-child
          height 32px
          background-position center

        &.swiped
          padding-right 80px

          > span:first-child
            margin-right -69px

          .info-left
            width 75%

    label.left
      width 30%

    .right
      position absolute
      left 32%
      right 0
      bottom 0
      top 0
      width auto
      font-weight normal

    span.right, a.right
      text-align right

    &.wide label.left
      width 65%

    &.wide .right
      left 67%

    img.list-thumbnail
      float left
      width 35px
      height 35px
      margin 0 10px 0 0

      border-radius 2px

    &.transition-able
      overflow hidden

      transition-property border, opacity, height
      transition-timing-function ease-in-out
      transition-duration 350ms

      transform translate3d(0, 0, 0)
      height 41px
      opacity 1

      &.fade
        height 0
        opacity 0
        border 0
