@import 'nib'
@import '../../mixin/expand'

div.login
  z-index 21
  expand()

  > form
    position absolute
    width 100%
    height 140px

    .ios &
      top 50%
      margin-top -70px

    .android &
      bottom 25%

  > form > div
    margin 15px 0

  > form > div.formcontent
    margin 0

    > label
      display block
      position relative

  input[type=text], input[type=password]
    font-size 1.3em
    .ios &
      box-sizing border-box

  input[type=text]
    border-bottom-left-radius 0
    border-bottom-right-radius 0
    border-bottom 1px solid #eee

  input[type=submit], a.register
    width 47%
    height 39px
    line-height 39px

  input[type=submit]
    float right
    .android &
      border-radius 0

  // submit buttons and anchors have a few weird style differences
  a.register
    width 46%
    padding 0
    .ios &
      height 37px
      line-height 37px
    .android &
      height 39px
      line-height 39px

  a.no-login.button.expand
    margin-top 35px
    opacity 0.4

  .ios &
    transition-property -webkit-transform
    transition-duration 500ms
    transform translate3d(0, 0, 0)

  .ios &.fade
    transform translate3d(0, -100%, 0)
