@import 'nib'
@import '../../mixin/expand'

div.login
  z-index 21
  expand()

  > form
    position absolute
    width 100%
    height 140px

    .ios &
      top 50%
      margin-top -70px

    .android &
      bottom 25%

  > form > div
    width 90%
    margin 15px auto

  > form > div.formcontent
    margin 0 auto

    .ios &
      box-shadow 0 1px 3px rgba(0, 0, 0, 1)

    .android &
      box-shadow 0 0 3px rgba(0, 0, 0, 0.1)

    > label
      display block
      position relative

  input[type=text], input[type=password]
    font-size 1.3em
    .ios &
      box-sizing border-box

  input[type=text]
    border-bottom-left-radius 0
    border-bottom-right-radius 0
    border-bottom 1px solid #eee

  input[type=submit], a.register
    width 47%
    height 39px
    line-height 39px

  input[type=submit]
    border-radius 0
    float right

  // submit buttons and anchors have a few weird style differences
  a.register
    width 46%
    padding 0
    .ios &
      height 37px
      line-height 37px
    .android &
      height 39px
      line-height 39px

  .ios &
    transition-property -webkit-transform
    transition-duration 500ms
    transform translate3d(0, 0, 0)

  .ios &.fade
    transform translate3d(0, -100%, 0)
