@import 'nib'
@import 'mixin/expand'

div.login
  z-index 21
  expand()

  > div
    box-shadow 0 1px 3px rgba(0, 0, 0, 1)
    width 90%
    margin 196px auto 0

  input
    box-sizing border-box
    font-size 1.3em

  a.button
    width 90%
    margin 15px auto
    height 39px
    line-height 39px

  transition-property transform
  transition-duration 500ms
  transform translate3d(0, 0, 0)

  &.fade
    transform translate3d(0, -100%, 0)
