@import '../Core/Font'

h1.null
  margin 20px auto
  width 95%
  text-align center
  text-transform none
  white-space normal
  font-size 1.3em
  line-height 1.4em

p.null
  margin 20px auto
  width 95%

  text-align center
  font-size 1.1em
  line-height 1.4em
  font-weight bold
  color $color-headline
  text-shadow rgba(255, 255, 255, 1) 0 2px 1px
