@import 'nib'

.player
  .play-button
    position relative
    width 35px
    height 35px

    float left
    overflow visible
    border-radius 50%
    margin-right 10px
    margin-bottom 10px

    border 1px solid #DDD
    background -webkit-radial-gradient(40% 40%, #fff, #ddd)
    box-shadow none

    a
      position absolute
      top -15px
      bottom -15px
      left -10px
      right -10px
      display block

      background-repeat no-repeat
      background-position center center

  div.waveform
    position relative
    cursor pointer
    height 37px
    margin-bottom 10px

    box-shadow none

    div.line
      width 100%
      height 2px

      margin-top 16px
      background #555

    img
      border-radius 10px
      width 100%
      height 33px

    div.position
      position absolute
      left 0
      top 0
      bottom 0
      width 0

      border-radius 10px
      background rgba(0, 0, 0, 0.2)

  div.player-details
    line-height 1.2em

    div.current-time
      float left

    div.duration
      float right

    div.chapter-mark
      margin 0 75px
      text-align center
      overflow ellipsis
      transition-property opacity
      transition-duration 350ms
      opacity 0

      &.fade
        opacity 1
