@import 'nib'

.player
  .play-button
    position relative
    width 35px
    height 35px

    float left
    overflow visible
    border-radius 50%
    margin-right 10px
    background -webkit-radial-gradient(40% 40%, #fff, #ddd)

    a
      position absolute
      top -15px
      bottom -15px
      left -10px
      right -10px
      display block

      background-repeat no-repeat
      background-position center center

  div.waveform
    position relative
    cursor pointer

    img
      border-radius 10px
      width 100%
      height 33px

    div.position
      position absolute
      left 0
      top 0
      bottom 0
      width 0

      border-radius 10px
      background rgba(0, 0, 0, 0.2)
