@import 'nib'

.progress-bar
  position absolute
  left 0
  bottom 0
  width 0
  height 3px

  background-color rgba(71, 217, 145, 0.6)

  transition-property width
  transition-duration 1000ms

  div
    position absolute
    right -1px
    top -1px
    bottom -1px
    width 5px

    border-radius 50%
    background-color rgba(71, 217, 145, 0.5)
