@import '../Core/Font'

div.popover.is-full-view
  padding 0
  color $color
  border 4px solid #111
  border-top 0
  background #efefef
  box-shadow 0 1px 10px rgba(0, 0, 0, 0.4)

  .android &
    border-radius 0
    border-color #444

  header
    margin-left -4px
    margin-right -4px

    border-top 0

    .ios &
      border-top-right-radius 10px
      border-top-right-radius 10px
      box-shadow none

    .android &
      text-align center
      border-radius 0
      background #444

    h1
      font-size 16px

      > a.button-left
        width 60px
        display block

        span
          width 40px

      h1
        left 75px
        right 75px

        a
          display none

        span
          left 0
          right 0

  // Necessary because of CSS specificity
  div.main & ul
    font-size 0.9em
    line-height 16px

div.resource-selector
  position relative
  overflow hidden

  div.resource-selector-main
    height 350px

  div.resource-selector-container
    height 306px
    top 0
