@import '../Core/Font'

div.popover.is-full-view
  padding 0
  background #efeff4

  box-shadow 0 0 20px rgba(0, 0, 0, 0.3)

  border-bottom-left-radius 0
  border-bottom-right-radius 0

  &:after
    border-bottom-color #f7f7f7

  .android &
    border-radius 0

  header
    height $header-height

    .ios &
      border-top-left-radius 10px
      border-top-right-radius 10px
      box-shadow none

    .android &
      text-align center
      border-radius 0

    > a.button-left
      width 60px
      display block

      .android &
        margin-top -2px
        margin-left 2px

        &.active, &.selected
          background-color transparent

          > span
            background-color #df5d5d

      span
        padding-left 5px
        width 60px

    h1
      font-size 16px
      left 75px
      right 75px

  // Necessary because of CSS specificity
  div.main & ul
    font-size 0.9em
    line-height 16px

div.resource-selector
  position relative
  overflow hidden

  div.resource-selector-main
    height 350px

  div.resource-selector-container
    height 309px
    top $header-height - 1px
