// This file is used to deploy icons or images that are not bundled with the
// currently deployed app. When updating the app through the app store, everything
// from this file can be moved to Sprites.styl

@import 'nib'
