@import 'nib'

@import '../../mixin/expand'

div.splash
  z-index 20
  expand()
  background-repeat no-repeat
  background-color #efeff4

  .ios &
    transition-property transform
    transition-duration 350ms
    transform translate3d(0, 0, 0)

    &.fade
      transform translate3d(0, -100%, 0)

  .android &
    background-size 80% auto
    background-position center 10%
    background-image url(./Splash.png)

    transition-property transform
    transition-duration 10ms
    transform translate3d(0, 0, 0)

    &.fade
      transform translate3d(0, -100%, 0)
