.small-logo
  background-image url(../Images/SmallLogo.png)
  background-size 100%

.logo
  background-size 180px 124px
  background-image url(../Images/Logo.png)

.close
  background-size 16px
  background-image url(../Images/Cross.png)

.clearable
  background-size 16px
  background-image url(../Images/Clearable.png)

.play
  background-size 16px
  background-image url(../Images/Media/Play.png)

.pause
  background-size 16px
  background-image url(../Images/Media/Pause.png)

.audio-recorder div.audio-level .stripes
  background-image url(../Images/Level.png)

label, a
  &.arrow
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Arrow.png)

  &.plus
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Plus.png)

  &.share
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Share.png)

  &.info
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Info.png)

footer ul > li > a
  & > span:first-child
    background-size 32px

  &.production
    > span:first-child
      background-image url(../Images/Tabbar/Production.png)

    &.selected > span:first-child
      background-image url(../Images/Tabbar/ProductionSelected.png)

  &.preset
    > span:first-child
      background-image url(../Images/Tabbar/Preset.png)

    &.selected > span:first-child
      background-image url(../Images/Tabbar/PresetSelected.png)

  &.record
    > span:first-child
      background-image url(../Images/Tabbar/Microphone.png)

    &.selected > span:first-child
      background-image url(../Images/Tabbar/MicrophoneSelected.png)

  &.home, &.requires-authentication, &.requires-connection
    > span:first-child
      background-size 36px 32px
      background-image url(../Images/Tabbar/Home.png)

    &.selected > span:first-child
      background-image url(../Images/Tabbar/HomeSelected.png)

header div.back-button
  background-size 21px 20px
  background-image url(../Images/Back.png)

header a.button-right span
  & > span:first-child
    background-size 24px

  &.new > span:first-child
    background-image url(../Images/Action/New.png)

  &.done > span:first-child
    background-image url(../Images/Action/Done.png)

  &.edit > span:first-child
    background-image url(../Images/Action/Edit.png)

  &.upload > span:first-child
    background-image url(../Images/Action/Upload.png)

  &.overflow > span:first-child
    background-image url(../Images/Action/Overflow.png)

.ios .checkbox > div
  -webkit-mask-image url(../Images/CheckBoxMask.png)
