a.arrow
  > span
    background-size 16px
    background-image url(../Images/Sprites/Arrow.png)

  &.active > span, &.selected > span
    background-image url(../Images/Sprites/ArrowWhite.png)

footer
  ul > li > a
    > span
      background-size 32px

    &.production > span
      background-image url(../Images/Sprites/Production.png)

    &.preset > span
      background-image url(../Images/Sprites/Preset.png)

    &.microphone > span
      background-image url(../Images/Sprites/Microphone.png)

    &.settings > span
      background-image url(../Images/Sprites/Settings.png)
