body.ios
  background-image url(../Images/Background.jpg)

.small-logo
  background-image url(../Images/SmallLogo.png)
  background-size 100%

.logo
  background-size 180px 124px
  background-image url(../Images/Logo.png)
  box-shadow 0 1px 8px rgba(0, 0, 0, 0.5)

  .ios &
    border-radius 5px

.close
  background-size 16px
  background-image url(../Images/Cross.png)

.clearable
  background-size 16px
  background-image url(../Images/Clearable.png)

.play
  background-size 16px
  background-image url(../Images/Media/Play.png)

.pause
  background-size 16px
  background-image url(../Images/Media/Pause.png)

.audio-recorder div.audio-level .stripes
  background-image url(../Images/Level.png)

label, a
  &.arrow
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Arrow.png)

    &.active > span:first-child, &.selected > span:first-child
      background-image url(../Images/Lists/ArrowWhite.png)

  &.plus
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Plus.png)

    &.active > span:first-child, &.selected > span:first-child
      background-image url(../Images/Lists/PlusWhite.png)

  &.share
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Share.png)

    &.active > span:first-child, &.selected > span:first-child
      background-image url(../Images/Lists/ShareWhite.png)

  &.info
    > span:first-child
      background-size 16px
      background-image url(../Images/Lists/Info.png)

    &.active > span:first-child, &.selected > span:first-child
      background-image url(../Images/Lists/InfoWhite.png)

footer ul > li > a
  & > span:first-child
    background-size 32px

  &.production > span:first-child
    background-image url(../Images/Tabbar/Production.png)

  &.preset > span:first-child
    background-image url(../Images/Tabbar/Preset.png)

  &.record > span:first-child
    background-image url(../Images/Tabbar/Microphone.png)

  &.home > span:first-child
    background-size 36px 32px
    background-image url(../Images/Tabbar/Home.png)

.android header h1
  & > a span:nth-child(1)
    background-size 16px
    background-image url(../Images/Android/Back.png)

  & > a span:nth-child(2)
    background-size 32px

  &.production > a span:nth-child(2)
    background-image url(../Images/Title/Production.png)

  &.preset > a span:nth-child(2)
    background-image url(../Images/Title/Preset.png)

  &.record > a span:nth-child(2)
    background-image url(../Images/Title/Microphone.png)

  &.home > a span:nth-child(2)
    background-size 36px 32px
    background-image url(../Images/Title/Home.png)

.android header a.button-right span
  & > span:first-child
    background-size 24px

  &.new > span:first-child
    background-image url(../Images/Android/New.png)

  &.done > span:first-child
    background-image url(../Images/Android/Done.png)

  &.edit > span:first-child
    background-image url(../Images/Android/Edit.png)

  &.upload > span:first-child
    background-image url(../Images/Android/Upload.png)

  &.overflow > span:first-child
    background-image url(../Images/Android/Overflow.png)

.ios .checkbox > div
  -webkit-mask-image url(../Images/CheckBoxMask.png)
