<ul>
  <li><span class="right">{{version}}</span><label class="left">Version</label></li>
  <li><span class="right">{{user.name}}</span><label class="left">User</label></li>
  <li><a href="{{repository}}" class="share"><span></span>Repository <span class="light">{{{format-url repository}}}</span></a></li>
</ul>
