<div class="hidden popover top justify" data-position="top">
  <h1>{{display_name}}</h1>
  <div>{{description}}</div>
  {{#if options}}
    <h1 class="small">Available Options</h1>
    <ul>
    {{#each options}}
      <li>{{display_name}}</li>
    {{/each}}
    </ul>
  {{/if}}
</div>
