<div class="audio-recorder">
  <div class="meter">
    <div class="audio-level">
      <div class="peak-meter"></div>
      <div class="average-meter"></div>
      <div class="stripes"></div>
    </div>
    <div class="scale">
      <div class="scale-48">-60</div>
      <div class="scale-42">-50</div>
      <div class="scale-36">-40</div>
      <div class="scale-30">-30</div>
      <div class="scale-24">-24</div>
      <div class="scale-18">-18</div>
      <div class="scale-12">-12</div>
      <div class="scale-6">-6</div>
      <div class="scale-0">0</div>
    </div>
  </div>

  <div class="clipwarning">Too loud - keep distance!</div>
  <a class="button red recorder">Start</a>
  <a class="clear button expand fade save-recording">Save Recording</a>

  <ul class="status expand hidden fade out">
    <li>
      <span class="recording-length right light"></span>
      <label>Length</label>
    </li>
    <li class="wide">
      <a class="add-chapter-mark" class="left">
        <span class="right light out"></span>
        Add Chapter Mark
      </a>
    </li>
    <li class="chapter-text transition-able fade">
      <input type="text" data-clearable="1">
    </li>
  </ul>
</div>
