<div class="editor">
  <div class="content">
    <a class="editor-copy">Copy</a>
    <a class="editor-paste">Paste</a>
    <a class="editor-cut">Cut</a>
    <a class="editor-remove">Delete</a>
    <a class="editor-select-all">Select All</a>
    <a class="editor-zoom">Zoom</a>
    <a class="editor-show-all">Show All</a>
  </div>

  <h1>Editor</h1>
  <div class="content">
    <div class="audio-editor"></div>
  </div>

  <div class="content">
    <a class="editor-play">Play</a>
    <a class="editor-pause">Pause</a>
    <a class="editor-stop">Stop</a>
    <a class="editor-toggle-loop">Loop</a>
    <a class="editor-save">Save</a>
  </div>

  <ul>
    <li><a class="editor-filter-normalize">Normalize</a></li>
    <li><a class="editor-filter-silence">Silence</a></li>
    <li><a class="editor-filter-fade-in">Fade In</a></li>
    <li><a class="editor-filter-fade-out">Fade Out</a></li>
  </ul>
</div>
