<div class="logo"></div>
<ul>
  <li><a href="/production/recording/new-audio" class="arrow"><span></span>Start a new Recording</a></li>
  <li><a href="/production/source" class="arrow"><span></span>Create a new Production</a></li>
  <li><a href="/preset/new" class="arrow"><span></span>Define a Preset</a></li>
</ul>
