<ul class="formcontent">
  <li>
    <label class="left">
      <input type="text" name="start" placeholder="00:00:00" class="right" data-required="1" data-format-time="1" data-matches="^(\d?\d)?:([0-5]\d?)(:([0-5]\d?(\.(\d{1,6})?)?)?)?$" />
      Start
    </label>
  </li>
  <li>
    <label class="left">
      <input type="text" name="title" class="right" data-required="1" data-clearable="1" />
      Title
    </label>
  </li>
  <li>
    <label class="left">
      <input type="text" name="url" class="right" data-clearable="1" autocapitalize="off" />
      URL
    </label>
  </li>
</ul>
