<div class="logo"></div>
<ul>
  <li><a href="/edit" class="arrow"><span></span>Editor</a></li>
  <li><a href="/production/recording/new-audio" class="arrow"><span></span>Start a new Audio Recording</a></li>
  <li><a href="/production/source" class="arrow"><span></span>Create a new Production</a></li>
  <li><a href="/preset/new" class="arrow"><span></span>Define a Preset</a></li>
  <li><a href="/external-services" class="arrow"><span></span>External Services</a></li>
  <li><a href="/about" class="arrow"><span></span>About</a></li>
  <li><a href="/team" class="arrow"><span></span>Team</a></li>
  <li><a href="{{feedback}}" class="share"><span></span>Feedback</a></li>
</ul>

<a href="/logout" class="button red expand">Logout</a>
