<div class="logo"></div>

<ul>
  <li><a href="/production/recording/new-audio" class="arrow"><span></span>
    Start Audio Recording
  </a></li>
</ul>

<br>

{{!
  <li><a href="/production/source" class="arrow"><span></span>Create a new Production</a></li>
  <li><a href="/external-services" class="arrow"><span></span>External Services</a></li>
}}

<ul>
  <li><a href="/team" class="arrow"><span></span>About Auphonic</a></li>
  <li><a href="/about" class="arrow"><span></span>App Info</a></li>
  <li><a href="{{feedback}}" class="share"><span></span>Feedback</a></li>
</ul>

{{#platform "ios"}}
  <a href="/logout" class="button red expand">Logout</a>
{{/platform}}
