<form action="/" method="post">
  <input type="hidden" name="client_id" value="{{client_id}}" />
  <input type="hidden" name="client_secret" value="{{client_secret}}" />
  <input type="hidden" name="grant_type" value="password" />
  <div class="formcontent">
    <input type="text" name="username" value="{{username}}" placeholder="email or username" autocapitalize="off" autocorrect="off" data-clearable="1" />
    <input type="password" name="password" placeholder="password" data-clearable="1" />
  </div>
  <div>
    <input type="submit" name="submit" value="Login" />
    <a href="{{registerURL}}" value="Register" class="register button">Register</a>
  </div>
</form>
