<form action="/asdf/" method="post">
  <input type="hidden" name="client_id" value="{{client_id}}" />
  <input type="hidden" name="client_secret" value="{{client_secret}}" />
  <div class="formcontent">
    <input type="text" name="name" placeholder="email or username" autocapitalize="off" />
    <input type="password" name="password" placeholder="password" />
  </div>
  <div>
    <input type="submit" name="submit" value="Login" />
    <a href="{{registerURL}}" value="Register" class="register button">Register</a>
  </div>
</form>
