<div class="formcontent">
  <input type="hidden" name="client_id" value="{{client_id}}" />
  <input type="hidden" name="client_secret" value="{{client_secret}}" />
  <input type="text" name="name" placeholder="email or username" autocapitalize="off" />
  <input type="password" name="password" placeholder="password" />
</div>
<a href="#" class="button expand">Login</a>
