<div class="player clear">
  <div class="play-button content full">
    <a class="play" href="#"><span class="hidden" data-media="1">{{media_files}}</span></a>
  </div>
  <div class="waveform content full">
    <img src="{{{image waveform_image}}}" />
    <div class="position"></div>
  </div>
</div>
<div class="clear"></div>
