<div class="player clear">
  <div class="play-button content full">
    <a class="play" href="#"><span class="hidden" data-media="1">{{media_files}}</span></a>
  </div>
  <div class="waveform content full">
    {{#if waveform_image}}
      <img src="{{{image waveform_image}}}" />
    {{else}}
      <div class="line"></div>
    {{/if}}
    <div class="position"></div>
  </div>
</div>
