{{#if preset}}
  <ul class="preset_container expand load-more main-list">
    {{#each preset}}
      {{> preset}}
    {{/each}}
  </ul>
{{else}}
  <h1 class="null">You have no presets yet.</h1>
  <p class="null">A preset helps you predefine settings like metadata or output files for new productions, speeding up the production-flow when only few values change.</p>
  <ul>
    <li><a href="/preset/new" class="arrow"><span></span>Define a new Preset</a></li>
  </ul>
{{/if}}
