<li class="swipeable" data-api-url="preset/{{uuid}}" data-method="delete">
  <span class="right removable">
    <span><a href="#" class="button red small">Delete</a></span>
  </span>
  <a href="/preset/{{uuid}}" class="arrow"><span></span>{{preset_name}}</a></li>
</li>
