<li class="show-popover" data-popover-event="touchhold">
  <div class="hidden popover top justify" data-position="top">
    <a href="/production/edit/{{uuid}}" class="button expand">Edit</a>
  </div>
  <a href="/production/{{uuid}}" class="arrow"><span></span>{{metadata.title}}</a>
</li>
