{{#if production}}
  <ul class="production_container">
    {{#each production}}
      <li><a href="/production/{{uuid}}" class="arrow"><span></span>{{metadata.title}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <h1 class="null">You have not created any productions yet</h1>
  <ul>
    <li><a href="/production/recording/new-audio" class="arrow"><span></span>Start a new Recording</a></li>
    <li><a href="/production/source" class="arrow"><span></span>Create a new Production</a></li>
  </ul>
{{/if}}
