<div class="audio-recorder">
  <div class="audio-level">
    <div class="peak-meter"></div>
    <div class="average-meter"></div>
    <div class="stripes"></div>
  </div>
  <a class="button red recorder">Start</a>

  <ul class="status hidden fade out">
    <li>
      <span class="recording-length right light"></span>
      <label>Length</label>
    </li>
    <li class="wide">
      <a class="add-chapter-mark" class="left">
        <span class="right light out"></span>
        Add Chapter Mark
      </a>
    </li>
  </ul>
</div>
