<ul class="record_button">
  <li><a href="/production/recording/new-audio-start">Start Recording</a></li>
</ul>
<ul class="stop_record_button hidden">
  <li><span class="record_status right light"></span><a href="/production/recording/stop">Stop recording</a></li>
</ul>
