{{#if recordings}}
  <ul>
  {{#each recordings}}
    <li class="swipeable show-popover" data-popover-event="touchhold" data-id="{{id}}" data-fire-event="removeRecording">
      <span class="right removable{{#if short_info}} expanded{{/if}}">
        <span><a href="#" class="button red small">Delete</a></span>
      </span>
      <div class="hidden popover top justify" data-position="top">
        <a href="#" class="button expand red deleteable">Delete</a>
      </div>
      <a href="/recording/{{name}}" class="arrow"><span></span>{{name}}</a>
    </li>
  {{/each}}
  </ul>
{{else}}
  <h1 class="null">You have no recent recordings.</h1>
  <ul>
    <li><a href="/production/recording/new-audio" class="arrow"><span></span>Start a new Recording</a></li>
  </ul>
{{/if}}
