<ul>
  <li><a href="/production/recording/new-audio" class="arrow"><span></span>New Audio Recording</a></li>
  <li><a href="/production/recording/new-video" class="arrow"><span></span>New Video Recording</a></li>
  {{#platform "android"}}
    <li><a href="/production/recording/file-upload" class="arrow"><span></span>Upload a File from this Device</a></li>
  {{/platform}}
  <li><a href="/production/new/http-upload" class="arrow"><span></span>HTTP Upload</a></li>
  {{#each source}}
    <li><a href="/production/source/{{uuid}}" class="arrow"><span></span><span class="light">{{display_type}}</span> <small>{{display_name}}</small></a></li>
  {{/each}}
</ul>
