<ul>
  <li><a href="/settings/about" class="arrow"><span></span>About</a></li>
</ul>

<ul>
  <li><span class="right">{{user.name}}</span><label class="left">User</label></li>
</ul>

<a href="/logout" class="button red expand">Logout</a>
