<div class="hidden popover settings justify" data-close-on-tap="0">
  <h1>Recording Quality</h1>
  <div class="tab-bar recording-quality">
    <div data-value="low">Low</div>
    <div data-value="average">Average</div>
    <div data-value="high">High</div>
  </div>
</div>
