<div class="detailView">
  <div class="detail expand with-image">
    <div class="cover-photo" style="background-image: url({{image}});"></div>
    <div class="gradient"></div>
    <div class="detail-inner">
      <span class="year">2012</span>
      <span class="genre">Graz</span>
      <h1>Auphonic Team</h1>
      <span class="artist small wrap">
        André Rattinger, Ferdinand Fuhrmann, Christoph Pojer, Georg Holzmann and Florian Hollerweger
      </span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="content">
    Our service is being developed in the lovely City of Graz, Austria.
    <br/><br/>
    We develop new algorithms in the area of music information retrieval and audio signal processing to create an automatic audio post production web service for broadcasters, podcasts, radio shows, audio books, lecture recordings, screencasts and more.
  </div>
</div>
