<li class="swipeable">
  <span class="right removable">
    <span><a href="#" class="button red small">{{label}}</a></span>
  </span>
  <a href="{{href}}" class="arrow"><span></span><small class="light">{{start}}</small> {{title}}</a>
</li>
