<div id="ui" class="hidden">
  <header></header>
  <footer>
    <ul>
      <li><a href="/" class="home"><span></span><span>Home</span></a></li>
      <li><a href="/recording" class="record"><span></span><span>Recordings</span></a></li>
      <li><a href="/production" class="production"><span></span><span>Productions</span></a></li>
      <li><a href="/preset" class="preset"><span></span><span>Presets</span></a></li>
    </ul>
  </footer>
  <div class="headerBackground"></div>
  <div class="footerBackground"></div>
  <div id="main" class="main"></div>
</div>
