@import 'nib'
@import 'Base/Reset'

vendor-prefixes = webkit official
support-for-ie = false

body
  background-color #fff

@import 'UI/Core/Body'
@import 'UI/Core/Font'
@import 'UI/Core/Link'
@import 'UI/Core/Headline'
@import 'UI/Core/Container' // includes Header, Footer
@import 'UI/Core/Scroll'
@import 'UI/Core/Popover'
@import 'UI/Core/Notice'
@import 'UI/Core/Forms'
@import 'UI/Core/Button'
@import 'UI/Core/Pointer'
@import 'UI/Core/Transition'

@import 'UI/App/Content'
@import 'UI/App/Lists'
@import 'UI/App/Progress'
@import 'UI/App/Login'
@import 'UI/App/Retry'
@import 'UI/App/NullState'
@import 'UI/App/Player'
@import 'UI/App/AudioRecorder'
@import 'UI/App/ResourceSelector'
@import 'UI/App/SwipeAble'
@import 'UI/App/Spinner'
@import 'UI/App/Details'

@import 'UI/App/ServerSprites'

.light
  color $color-light

  .active &, .selected &
    color #fff

.placeholder
  color $color-placeholder

.small
  font-size 12px
  line-height 14px

.clear
  clear both

.clear-left
  clear left

.clear-right
  clear right

.center
  text-align center

.justify
  text-align justify

.ios .bold
  font-weight bold

.android .bold
  font-weight 500

.small-logo
  background-position center
  background-repeat no-repeat

.logo
  margin 30px auto
  width 180px
  height 124px

@css {
  .hidden {
    display: none !important;
  }
}
