@import 'nib'
@import 'Base/Reset'

body
  background #fff url(../Images/Background.jpg)

@import 'UI/Core/Body'
@import 'UI/Core/Font'
@import 'UI/Core/Link'
@import 'UI/Core/Headline'
@import 'UI/Core/Container' // includes Header, Footer
@import 'UI/Core/Scroll'
@import 'UI/Core/Popover'
@import 'UI/Core/Forms'
@import 'UI/Core/Pointer'
@import 'UI/Core/Transition'

@import 'UI/App/Content'
@import 'UI/App/Splash'
@import 'UI/App/Lists'
@import 'UI/App/Login'
@import 'UI/App/SwipeAble'
@import 'UI/App/Spinner'

@import 'UI/App/Sprites'

@import 'UI/App/Details'

.light
  color $color-light

  .active &, .selected &
    color #fff

.placeholder
  color $color-placeholder

.small
  font-size 12px

.clear
  clear both

.clear-left
  clear left

.clear-right
  clear right

.justify
  text-align justify

.logo
  margin 20px auto
  width 180px
  height 124px
  background-size 180px 124px
  background-image url('../Images/Logo.png')

@css {
  .hidden {
    display: none !important;
  }
}
