@import 'Base/Reset'
@import 'nib'

@import 'UI/Core/Header'
@import 'UI/Core/Font'
@import 'UI/Core/Link'

body
  font-family $font
  font-weight normal
  font-size $font-size
  color $color-font
  background white url(../Images/background.png)
  overflow auto
  -webkit-tap-highlight-color transparent

div.content
  position relative
  margin 30px auto 0
  width 95%

h1
  font-family "Helvetica Neue", Tahoma, sans-serif
  font-weight 400
  font-size 3em
  margin 0.25em 0
  color #4791d9
  text-shadow rgba(255, 255, 255, 0.5) 1px 1px 1px
  letter-spacing 2px
